<ion-header>
    <ion-toolbar color="success">
        <ion-title>
            Aqui Serviços
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>

    <ion-button expand="full" (click)="openWithSystemBrowser('http://www.aquiservicos.com.br/')">Abrir no navegador
    </ion-button>
    <!--    <ion-button (click)="openWithInAppBrowser('http://www.aquiservicos.com.br/')">Open with In App browser</ion-button>-->
    <ion-button expand="full" (click)="openWithCordovaBrowser('http://www.aquiservicos.com.br/')">Abrir internamente
    </ion-button>

</ion-content>
